###===================================================================================###
#
#  File:  terraform.tfvars
#  Created By: Karl Vietmeier
#
###===================================================================================###
# Provider values (set via environment variables or .tfvars for local use)
vast_username                 = "REPLACE_ME"
vast_password                 = "REPLACE_ME"
vast_host                    = "REPLACE_ME"
vast_port                    = "443"
vast_skip_ssl_verify         = true
vast_version_validation_mode = "warn"
#vast_provider_alias          = "GCPCluster"

# Infrastructure values
vip1_name     = "DataSharesPool"
vip2_name     = "ReplicationPool"
cidr          = "24"
gw1           = "33.20.1.1"
gw2           = "33.21.1.1"
vip1_startip  = "33.20.1.10"
vip1_endip    = "33.20.1.21"
vip2_startip  = "33.21.1.10"
vip2_endip    = "33.21.1.15"
role1         = "PROTOCOLS"
role2         = "REPLICATION"
policy_name   = "NFS_policy"
num_views     = 6
path_name     = "share"
