###====================================================================================###
###    Stuff to exclude from the remote repo
###====================================================================================###

# exclude the ignore file
#.gitignore

###==========================  Terraform Specific
# Local .terraform directories
**/.terraform/*

# Misc scratch directories
**/samples/*
**/secrets/*

# VAST directories
# These directories are used for VAST specific configurations and should not be included in the repo.
**/vast_configurations/**
**/vast/**
**/vast_on_cloud/**

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan
# Ignore backup lock files, but commit the main lock file
.terraform.lock.*.backup
**/.terraform.lock.hcl
!.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Cloud init - can have SSH keys in it
#cloud-init

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
#
#*.tfvars

# Private tfvars info
# This file is used to store sensitive information such as passwords, private keys, etc.
#*.auto.tfvars
#private.auto.tfvars


###========================== Default entries
HISTORY.txt
README.txt

# Ignore "Private" files directories
/Private/

# Ignore temporary or scratch files
**/foo*
**/*.log
[Tt]emp/
*.log
*.bak
*.[Tt]emp
*.tmp
*[Ss]cratch*

# Ignore possibly very large files
*.iso
*.vhdx
*.vhd
*.zip

# Exclude vim swap files and backups
*.swap
*.sw
*~
 